@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: var(--font-roboto), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Base styles for elements that should not be split */
.avoid-page-break {
  break-inside: avoid;
  page-break-inside: avoid;
}

@media screen {
  #resume-container {
    background-color: rgb(24 24 27); /* zinc-900 */
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #resume-page-view,
  #resume-page-view * {
    visibility: visible;
  }
  #resume-page-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: scale(1) !important;
    box-shadow: none !important;
    border: none !important;
    background: white !important;
    overflow: visible !important;
  }
  #resume-container {
    background-color: white !important;
    padding: 0 !important;
  }
}
